<li [ngClass]="{ editing: isEditing(), completed: todo().completed }">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [checked]="todo().completed"
      (change)="toggleTodo()"
    />
    <label (dblclick)="setTodoInEditMode()">{{todo().text}}</label>
    <button class="destroy" (click)="removeTodo()"></button>
  </div>
  @if(isEditing()){
    <input
      class="edit"
      #textInput
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTodo()"
    />
  }
</li>
